body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
  background-color: black; 
  text-align: center; 
}

h1, p {

  font-size: 40px;

   position: relative;
      top: 400px;
      right: 500px;
}

img {

  position: relative;
  left: 500px;
  
}
