body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
  background-color: black; 
  
}

.lg {

  font-size: 30px;

  position: absolute;
  left: 400px;
  top: 10px;
}

.lg_img {

  position: absolute;
  left: 280px;
}

.intro1 {

  font-size: 40px;
  position: absolute;
  left: 300px;
  top: 500px;
}

.me {

  position: absolute;
  right: 300px;
  top: 150px;
}





